{% extends 'btemplate.html.twig' %}

{% block title %}Editar Perfil{% endblock %}

{% block body %}


    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Preguntados - Symfony</title>
    </head>
    <style>
        body {
            height: 100vh;
            display: flex;
            flex-direction: column;

        }

        .main-content {
            flex: 1;
        }

        footer {
            flex: 0 0 auto;
            align-items: flex-end;
        }
        .card
        {
            width: 40%;
        }



    </style>

    <body>
    <div class="main-content">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_principal') }}">Preguntados</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_ranking') }}">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_perfil', {'nombre': nombre}) }}">{{ nombre }}</a>
                        </li>
                        <li class="nav-item">
                            <a id='logout' class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container vh-100 d-flex align-items-center">
            <div id='card' class="card m-auto w-50 p-3 shadow-lg">
                <div class="card-header">
                    <h2>Editar Perfil</h2>
                </div>

                <form action="{{ path('app_perfil_edit') }}" method="post">

                    {{ form_start(form) }}

                    <div class="card-body">

                        <div class="list-group list-group-flush">
                            <div class="form-group">

                                {{ form_label(form.name, 'Nombre') }}

                                {{ form_widget(form.name) }}

                            </div>

                            <div class="form-group">
                                {{ form_label(form.email, 'Correo') }}
                                {{ form_widget(form.email, {'attr': {'readonly': 'readonly'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.password, 'password') }}
                                {{ form_widget(form.password, {'attr': {'readonly': 'readonly'}}) }}
                            </div>

                                {{ form_widget(form.submit, {'attr': {'style': 'display: none;'}}) }}

                        </div>

                    </div>

                    <div class="card-footer">

                        <button id='actualizar_perfil_button' type="submit" class="btn btn-primary">Actualizar Perfil</button>

                    </div>

                    {{ form_end(form) }}

                </form>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 ">
        <div class="container text-center">
            <span class="text-muted">IgnacioFerz@github &hearts;</span>
        </div>
    </footer>

    </body>
    </html>

{% endblock %}