{% extends 'btemplate.html.twig' %}

{% block title %}Hello RankingController!{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_principal') }}">Preguntados</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_ranking') }}">Ranking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_perfil', {'nombre': nombre}) }}">{{ nombre }}</a>
                    </li>
                    <li class="nav-item">
                        <a id='logout' class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-header text-center">
                <h2>Ranking de Jugadores</h2>
            </div>
            <div class="card-body">
                {% if ranking is defined %}
                    <ol>
                        {% for item in ranking %}
                            <li>{{ item.name }} - {{ item.puntuacion }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No hay datos de ranking disponibles.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}