{% extends 'base.html.twig' %}

{% block title %}
    Partida {{ partida.id }}
{% endblock %}

{% block body %}
    <div id="timer">15 s</div>
    <div id="score">0</div>
    <div id="partida-data" data-partida-id="{{ partida.id }}" data-jugador1-id="{{ partida.jugador1.id }}" data-jugador2-id="{{ partida.jugador2.id }}"></div>
    <div class="container-fluid flex-column align-items-center">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h5">Preguntas</h1>
                <ul id="question-list" class="card list-group">
                    {% for pregunta in preguntas %}
                        <li class="card-body question-item list-group-item" data-correct-answer="{{ pregunta.respuestaCorrecta }}">
                            {{ pregunta.pregunta }}
                            <br>
                            <ul>
                                <li>
                                    <button class="answer-button btn btn-sm btn-outline-primary" data-answer="{{ pregunta.respuestaCorrecta }}">{{ pregunta.respuestaCorrecta }}</button>
                                </li>
                                {% for respuestaIncorrecta in pregunta.respuestasIncorrectas %}
                                    <li>
                                        <button class="answer-button btn btn-sm btn-outline-primary" data-answer="{{ respuestaIncorrecta }}">{{ respuestaIncorrecta }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

                <div class="progress-container">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <span>0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    <script src="{{ asset('js/partida.js') }}"></script>
{% endblock %}