{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}

    <div class="container vh-100 d-flex align-items-center">
        <div class="card m-auto w-50 p-3 shadow-lg">
            <div class="card-body">

                {{ form_start(registration_form) }}
                <h1>Registrate!</h1>
                <p>Si ya tienes una cuenta, <a href="{{ path('app_login') }}">inicia sesion</a></p>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(registration_form.name, {'type': 'text', 'attr': {'class': 'form-control mb-3'}}) }}
                        {{ form_row(registration_form.password, {'type': 'password', 'attr': {'class': 'form-control mb-3'}}) }}
                        {{ form_row(registration_form.email, {'type': 'email', 'attr': {'class': 'form-control mb-3'}}) }}
                        {{ form_widget(registration_form.submit, {'attr': {'class': 'btn btn-primary mb-3'}}) }}
                    </div>
                </div>

                {{ form_end(registration_form) }}
            </div>
        </div>
    </div>
{% endblock %}