{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 30%; /* Adjust width as needed */
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #6a93bd;
        }

        .container h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .card-body {
            padding: 30px;
        }

        .form-control {
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 15px; /* Add margin for vertical spacing */
        }

        .btn-primary {
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock %}

{% block title %}Registro{% endblock %}

{% block body %}

    <div class="container">
        <div class="card">
            <div class="card-body">

                {{ form_start(registration_form) }}
                <h1>Registrate!</h1>
                <p>Si ya tienes una cuenta, <a href="{{ path('app_login') }}">inicia sesion</a></p>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(registration_form.name, {'type': 'text', 'attr': {'class': 'form-control mb-3'}}) }}
                        {{ form_row(registration_form.password, {'type': 'password', 'attr': {'class': 'form-control mb-3'}}) }}
                        {{ form_row(registration_form.email, {'type': 'email', 'attr': {'class': 'form-control mb-3'}}) }}
                    </div>
                </div>

                {{ form_end(registration_form) }}
            </div>
        </div>
    </div>
{% endblock %}